/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/reports/cfp/output/
/storage/app/java_tmp/
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
sonar-project.properties
.scannerwork/
Dockerfile
docker/
.env
.gitlab-ci.yml
.env
docker-compose.yml